div {color: white;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    
}
.test {background-color: blue;
        color:white;
    font-size: 18px;} 

.numbers {background-color: lightpink; font-family: verdana, "DejaVu Sans", sans serif;
}
.numbers oddly-cool{ font-size: 24px;}

.button{color: white;
    background-color: orange;
    font-size: 18px;}

#even {background-color: white; color: blue; font-size: 36PX;}
#third{font-size: 24px; }
#other{background-color: green;}